<div class="container">
  <h4 class="text-center mt-5">"<%= @tag.name %>"タグのついた投稿一覧</h4>
  <div class="text-center">
    <%= link_to "タグを編集する", edit_admin_tag_path(@tag), class:"btn btn-outline-info" %>
  </div>
  <div class="row">
    <%= render 'admin/recipes/index', recipes: @recipes %>
    <div class="col-12 d-flex justify-content-center my-4">
      <%= paginate @recipes %>
    </div>
  </div>
</div>