<div class="container">
  <div class="row">
    <div class="col-7 mx-auto">
      <h4 class="text-center mt-5"><%= @tag.name %>に関連する投稿一覧</h4>
      <!--タグに紐づいたレシピ一覧-->
      <%= render 'public/recipes/recipe_index', recipes: @recipes %>
    </div>
  </div>
</div>

