<div class="container">
  <div class="row">
    <div class="col-7 mx-auto mt-5">
      <% if @users.present? %>
        <h4>フォローリスト</h4>
        <div class="text-center">
        <%= render "public/users/index", users: @users %>
        </div>
      <% else %>
        <h4 class="text-center">フォローしているユーザーがいません</h4>
      <% end %>
    </div>
  </div>
</div>