<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="mb-4 mt-5">About</h1>
      <h5>
        このサイトはトレーニング中のレシピを共有するSNSサイトです。</br>
        増量や減量のために作った料理の写真とレシピの投稿および閲覧が可能です。</br>
        会員登録をすることで、写真の投稿・他のユーザーの投稿への</br>
        いいねやコメントのアクションを送ることができます。
      </h5>
    </div>
  </div>
</div>