@use '~bootstrap/scss/bootstrap';


.recipe-title {
  font-weight: bold;
  display: -webkit-box;
  width: 100%;
  height: 1.2em;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.recipe-tags {
  display: -webkit-box;
  width: 100%;
  height: 1.2em;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

