@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
  font-family: 'Noto Sans JP', sans-serif;
}

.recipe-title {
  font-weight: bold;
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.recipe-tags {
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ranking-link,
.user-name-link,
.recipe-title-link,
.favorite-link,
.followings-link,
.follower-link,
.admin-tag-link {
  color: black;
}

.recipe-tags-link {
  color:#8EB8FF;
}

.favorite-btn-red {
  color: red;
}

.navbar-collapse {
  flex-grow: 0;
}

.search-form {
  min-width: 10em;
  max-width: 30%;
}

.pagination {
  flex-wrap: wrap
}

.pagination>li>a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

@media(max-width:768px) {
  .test-image {
    max-height: 80px;
  }
}

@media(min-width:769px) {
  .test-image {
    height: 100px;
  }
}
