<%= link_to transition_path(notification) do %>
  <div>
    <%= link_to notification.subject.user.name, user_path(notification.subject.user), class:"user-name-link border-bottom border-dark"%>
    があなたの
    <%= link_to '投稿', recipe_path(notification.subject.recipe), class:"recipe-title-link border-bottom border-dark" %>
    にいいねしました
    <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
  </div>
<% end %>