<div class="container">
  <div class="row mt-5">
    <% if @favorite_recipes.present? %>
    <!--いいねしたレシピ一覧-->
      <%= render 'public/recipes/recipe_index', recipes: @favorite_recipes %>
      <div class="col-12 d-flex justify-content-center my-4">
        <%= paginate @favorite_recipes %>
      </div>
    <% else %>
      <div class="mx-auto">
        <h4 class="text-center">いいねした投稿はありません。</h4>
      </div>
    <% end %>
  </div>
</div>

