<div class="container">
  <div class="row">
    <div class="col-7 mx-auto">
      <!--フォローしているユーザーのレシピ一覧-->
      <%= render 'public/recipes/recipe_index', recipes: @following_recipes %>
    </div>
  </div>
</div>

